<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--  
    ConnectionStrings:
    DestinationDB - Connection string for SQL database to write exported API data to
    
    Settings:
    HttpUserAgentString - Usage agent string to identify to the Power BI Service, can be anything
    ActivityRefreshIncrementalUseExactTime - If the exact start time should be used for incremental activity refresh (as opposed to start of most recent day)
    
    AzureADAuthorityURL - Use with Microsoft Azure Active Directory Authentication Library v3.19.8 - Do not change
    GlobalServiceEndpoint - Cannot be left blank
    PowerBIAPIPath - Cannot be left blank    
    PowerBIResourceURL - Leave empty to ready from Power BI backend automatically (default is https://analysis.windows.net/powerbi/api)
    PowerBIRedirectURL - Leave empty to ready from Power BI backend automatically (default is urn:ietf:wg:oauth:2.0:oob)
    
    ApplicationID - Native Azure AD App ClientID, set to match your application ID acquired from https://portal.azure.com
    UserName - Active Directory / Power BI UserName (email address), set to match your Power BI username
    Password - Encrypted password for login for specified UserName.  Set via application and /savepassword option 
    -->  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="DestinationDB" connectionString="Data Source=localhost;Initial Catalog=BITools;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="HttpUserAgentString" value="PowerBIServiceActivityLogExport/1.0" />
    <add key="ActivityRefreshIncrementalUseExactTime" value="1" /> 

    <add key="AzureADAuthorityURL" value="https://login.windows.net/common/oauth2/authorize" /> 
    <add key="GlobalServiceEndpoint" value="https://api.powerbi.com" /> 
    <add key="PowerBIAPIPath" value="/v1.0/myorg" /> 
    <add key="PowerBIResourceURL" value="https://analysis.windows.net/powerbi/api" /> 
    <add key="PowerBIRedirectURL" value="urn:ietf:wg:oauth:2.0:oob" /> 

    <add key="ApplicationID" value="11111111-1111-1111-1111-111111111111" /> 
    <add key="UserName" value="jeff@contoso.com" /> 
    <add key="Password" value="" /> 
  </appSettings>
</configuration>