<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="DestinationDB" connectionString="Data Source=localhost;Initial Catalog=BITools;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="HttpUserAgentString" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36" />   <!-- Can be anything, currently set to emulate a Chrome browser -->

    <add key="AzureADAuthorityURL" value="https://login.windows.net/common/oauth2/authorize" />  <!-- use with 3.19.8 - Do not change -->
    <add key="GlobalServiceEndpoint" value="https://api.powerbi.com" />  <!-- Cannot be left blank -->
    <add key="ServiceConfigPath" value="/powerbi/globalservice/v201606/environments/discover?user=" />  <!-- Cannot be left blank -->
    <add key="ServiceBackendPath" value="/spglobalservice/GetOrInsertClusterUrisByTenantLocation" />  <!-- Cannot be left blank -->

    <add key="OutputTableName" value="tmp.PBIGatewayAgent" />  <!-- Location to save data to (create from table create script) -->
    <add key="UserName" value="jeff@contoso.com" />  <!-- AD / PBI UserName, set to match your username -->
    <add key="Password" value="" />  <!-- AD / PBI UserName -->
  </appSettings>  
</configuration>